.head_foot {
    border-color: red;
    background-color: aquamarine;
}

section {
    background-color: blanchedalmond;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

.book-title {
    font-style: italic;
}

head {
    color: blueviolet;
}

a:hover {
    color: brown;
}